.inversebox {
    display: flex;
    flex-direction: row-reverse;
}

.header {
    display: flex;
    background-color: lightblue;
    width: 1550px;
    min-height: 50px;
    margin: -10px;
    justify-content: center;
}

.headerbox {
    display: flex;
    height: 40px;
    width: 950px;
    background-color: rgb(225, 165, 0);
    align-self: center;
    margin: 10px 0 10px 0;
    justify-content: space-between;
}


.headertxt0 {
    display: flex;
    color: blue;
    align-self: center;
    justify-content: flex-start;
    padding-left: 3px;
    font-size: 20px;
}

.headerbox0 {
    display: flex;
    align-self: center;
    border: 2px dotted black;
    border-right: 3px dotted black;
    padding-right: 80px;
    height: 40px;
}

.headertxt1 {
    display: flex;
    color: blue;
    justify-content: center;
    align-self: center;
    font-size: 20px;
}

.headerbox1 {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 700px;
    height: 40px;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;

}

.headertxt2 {
    display: flex;
    color: blue;
    justify-content: flex-end;
    align-self: center;
    padding-right: 3px;
    font-size: 20px;
}

.headerbox2 {
    display: flex;
    align-self: center;
    border: 2px dotted black;
    border-left: 3px dotted black;
    padding-left: 80px;
    height: 40px;
}

.firstbox {
    display: flex;
    background-color: rgb(0, 0, 67);
    margin: 10px 0 0 -10px;
    height: 400px;
    width: 1550px;
    justify-content: space-around;
}

.bodybox0 {
    display: flex;
    background-color: rgb(255, 55, 88);
    align-self: center;
    width: 800px;
    height: 340px;

}

.secondandfourthbox {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 1550px;
    height: 400px;

}

.bodybox1 {
    display: flex;
    background-color: rgb(15, 63, 255);
    border: 1px dotted black;
    align-self: center;
    width: 500px;
    height: 340px;
}

.bodybox2 {
    display: flex;
    background-color: pink;
    border: 1px dotted black;
    align-self: center;
    width: 300px;
    height: 340px;

}

.thirdbox {
    display: flex;
    margin: 0 30px 0 -10px;
    background-color: gray;
    justify-content: center;
    align-self: center;
    width: 1550px;
    height: 400px;

}


.bodybox3 {
    display: flex;
    background-color: rgb(15, 63, 255);
    border: 1px dotted black;
    align-self: center;
    width: 500px;
    height: 340px;
}

.bodybox4 {
    display: flex;
    background-color: pink;
    border: 1px dotted black;
    align-self: center;
    width: 300px;
    height: 340px;

}

.fifthbox {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 1550px;
    height: 400px;
}

.bodybox5 {
    display: flex;
    background-color: green;
    border: 1px dotted black;
    width: 800px;
    height: 340px;
}

